<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'description' %}
        <meta name="description" content="Welcome to Journal-ing, the prefered app by developers and designers to keep track of their daily work.">
    {% endblock %}
    <title>{% block 'title' %}Journal-ing{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'journal_app/styles/styles.css'%}">
</head>
<body>
    <header>
        <nav>   
            <div class="nav-bar">
                <a class="main-logo" href="{% url 'journal_app:index' %}">Journal-ing</a>
                <a class='nav-link' href="{% url 'journal_app:topic'%}">Topics</a>
                <a class="nav-link" href="{% url 'journal_app:entry'%}">Entries</a>
                <a class='nav-link' href="#">Create</a>
            </div>
        </nav>
    </header>
    <div class="content">
        {% block 'content' %}
        {% endblock %}
    </div>
</body>
</html>