{% extends 'journal_app/base.html' %}
{% block 'content' %}
    <h1>Creating a New Topic</h1>
    <hr>
    <form action="{% url 'journal_app:add_topic'%}" method="post">
        {% csrf_token %}
        <fieldset>
            <div>
                <label for="label_input_title">New Topic: </label>
                <input type="text" maxlength="200" required name="add_topic">
            </div>
            <!-- <div>
                <label for="label_input_title">Date added: </label>
                <input type="datetime-local" name="add_topic_date" maxlength="200" required name="new_topic">
            </div> -->
            <input type="submit", value="Submit">
        </fieldset>
    </form>
{% endblock %}